In [1]:
import numpy as np
import pandas as pd

### 1.Read the data set

In [8]:
md=pd.read_csv('Laliga.csv')
md

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,-,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,-,-,-,-,-,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,-,-,-,-,-,-,-,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,-,-,-,-,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,-,-,-,-,-,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,-,-,-,-,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,-,-,-,-,2,-,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,-,-,-,-,-,-,-,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,-,-,-,-,-,1,1,1930-31,2016-17,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,-,-,-,1,1,-,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,-,-,-,-,-,-,-,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,-,-,-,-,-,-,-,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,-,-,-,1,2,-,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,-,-,-,-,-,-,-,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,-,-,-,-,-,-,-,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,-,-,-,-,1,-,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,-,-,-,-,-,-,-,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,-,-,-,-,-,-,-,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,-,-,-,-,-,-,-,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,-,-,-,-,-,-,-,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,-,-,-,-,-,-,-,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,-,-,-,-,-,-,-,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,-,-,1,-,3,-,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,-,-,-,-,-,-,-,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,-,-,-,-,-,-,-,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,-,-,-,-,-,-,-,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,-,-,-,-,-,-,-,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,-,-,-,-,-,-,-,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,-,-,-,-,-,-,-,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,-,-,-,-,-,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,-,-,-,-,-,-,-,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,-,-,-,-,-,-,-,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,-,-,-,-,-,-,-,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,-,-,-,-,-,-,-,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15
61,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9

In [9]:
header=md.iloc[0]
md=md[1:]
md.columns=header

In [10]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 1 to 61
Data columns (total 20 columns):
Pos              61 non-null object
Team             61 non-null object
Seasons          61 non-null object
Points           61 non-null object
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null object
GoalsAgainst     61 non-null object
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null object
dtypes: object(20)
memory usage: 9.6+ KB

### replace dashes with 0

In [12]:
#  md.replace('-',0,inplace=True)   ---gave warning

md.replace('-',np.nan, inplace = True)

md = md.fillna(0)
md

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
61,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

### 2.Print all the teams which have started playing between 1930-1980.

In [14]:

md['Debut']=md['Debut'].astype(str).str[:4].astype(int)
ans2=md[md['Debut'].between(1930,1980)]
ans2

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987-88,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934,2001-02,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948,2013-14,4
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951,2015-16,2
22,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959,2014-15,5
26,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963,2015-16,6
31,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,0,1974,1998-99,7
32,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977,2005-06,12
35,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941,1990-91,4
38,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962,2014-15,5
40,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963,1969-70,7
47,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947,2006-07,7
50,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953,1957-58,14
53,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979,1980-81,10
55,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950,1993-94,16
58,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955,1955-56,15

### 3. Print the list of teams which came Top 5 in terms of points

In [15]:
md['Points']=md.Points.astype(float)
temp=md.sort_values(by=['Points'],ascending=False)

In [17]:
temp.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385.0,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262.0,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442.0,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386.0,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987-88,1
5,5,Athletic Bilbao,86,3368.0,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

### 4.Write a function with name â€œGoal_diff_countâ€ which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference

In [18]:
def  Goal_diff_count(md):
    md['GoalsFor']=md.GoalsFor.astype(float)
    md['GoalsAgainst'] = md.GoalsAgainst.astype(float)
    md['GoalsDifferences']=md['GoalsFor']-md['GoalsAgainst']
    return md
Goal_diff_count(md)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,GoalsDifferences
1,1,Real Madrid,86,4385.0,2762,1647,552,563,5947.0,3140.0,...,23,8,8,3,4,79,1929,1929,1,2807.0
2,2,Barcelona,86,4262.0,2762,1581,573,608,5900.0,3114.0,...,25,12,12,4,6,83,1929,1929,1,2786.0
3,3,Atletico Madrid,80,3442.0,2614,1241,598,775,4534.0,3309.0,...,8,16,9,7,6,56,1929,2002-03,1,1225.0
4,4,Valencia,82,3386.0,2664,1187,616,861,4398.0,3469.0,...,6,10,11,10,7,50,1931,1987-88,1,929.0
5,5,Athletic Bilbao,86,3368.0,2762,1209,633,920,4631.0,3700.0,...,7,10,5,8,10,49,1929,1929,1,931.0
6,6,Sevilla,73,2819.0,2408,990,531,887,3680.0,3373.0,...,4,4,5,12,6,32,1934,2001-02,1,307.0
7,7,Espanyol,82,2792.0,2626,948,608,1070,3609.0,3889.0,...,0,4,5,2,5,16,1929,1994-95,3,-280.0
8,8,Real Sociedad,70,2573.0,2302,864,577,861,3228.0,3230.0,...,3,2,5,4,3,19,1929,2010-11,1,-2.0
9,9,Zaragoza,58,2109.0,1986,698,522,766,2683.0,2847.0,...,1,4,5,4,4,18,1939,2012-13,2,-164.0
10,10,Real Betis,51,1884.0,1728,606,440,682,2159.0,2492.0,...,0,2,3,4,4,14,1932,2015-16,1,-333.0
11,11,Deportivo La Coruna,45,1814.0,1530,563,392,575,2052.0,2188.0,...,5,4,1,0,1,12,1941,2014-15,1,-136.0
12,12,Celta Vigo,51,1789.0,1698,586,389,723,2278.0,2624.0,...,0,0,2,4,5,11,1939,2012-13,4,-346.0
13,13,Valladolid,42,1471.0,1466,463,384,619,1767.0,2180.0,...,0,0,1,1,1,3,1948,2013-14,4,-413.0
14,14,Racing Santander,44,1416.0,1428,453,336,639,1843.0,2368.0,...,1,1,2,0,1,5,1929,2011-12,2,-525.0
15,15,Sporting Gijon,43,1389.0,1458,471,358,629,1753.0,2152.0,...,1,1,2,2,1,7,1944,2015-16,2,-399.0
16,16,Osasuna,37,1351.0,1318,426,327,565,1500.0,1834.0,...,0,0,2,2,2,6,1935,2016-17,4,-334.0
17,17,Malaga,36,1314.0,1255,390,330,535,1421.0,1763.0,...,0,0,1,0,1,2,1949,2008-09,4,-342.0
18,18,Oviedo,38,1174.0,1192,408,292,492,1642.0,1951.0,...,0,3,2,2,4,11,1933,2000-01,3,-309.0
19,19,Mallorca,27,1148.0,988,333,256,399,1182.0,1371.0,...,0,2,0,2,1,5,1960,2012-13,3,-189.0
20,20,Las Palmas,33,1020.0,1096,367,242,487,1347.0,1746.0,...,1,1,1,1,1,5,1951,2015-16,2,-399.0
21,21,Villarreal,17,970.0,646,266,172,208,892.0,789.0,...,1,1,2,3,2,9,1998,2013-14,2,103.0
22,22,Granada,23,667.0,742,218,175,349,819.0,1157.0,...,0,0,0,0,2,2,1941,2016-17,6,-338.0
23,23,Rayo Vallecano,17,662.0,652,189,148,305,760.0,1088.0,...,0,0,0,0,0,0,1977,2015-16,8,-328.0
24,24,Elche,21,606.0,678,203,180,295,750.0,1022.0,...,0,0,0,1,1,2,1959,2014-15,5,-272.0
25,25,Getafe,12,553.0,456,147,112,197,520.0,633.0,...,0,0,0,0,1,1,2004,2015-16,6,-113.0
26,26,Hercules,20,538.0,628,184,149,295,716.0,1050.0,...,0,0,0,1,4,5,1935,2010-11,5,-334.0
27,27,Tenerife,13,510.0,494,155,128,211,619.0,744.0,...,0,0,0,2,0,2,1961,2009-10,5,-125.0
28,28,Murcia,18,445.0,586,145,143,298,607.0,992.0,...,0,0,0,0,0,0,1940,2007-08,11,-385.0
29,29,Alaves,12,421.0,380,125,81,174,458.0,623.0,...,0,0,0,0,1,1,1930,2016-17,6,-165.0
30,30,Levante,11,416.0,402,113,95,194,430.0,632.0,...,0,0,0,0,1,1,1963,2015-16,6,-202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353.0,426,129,95,202,492.0,720.0,...,0,0,1,1,0,2,1943,1987-88,4,-228.0
33,33,Cadiz,12,343.0,448,104,127,217,393.0,662.0,...,0,0,0,0,0,0,1977,2005-06,12,-269.0
34,34,Logrones,9,293.0,346,96,92,158,291.0,489.0,...,0,0,0,0,0,0,1987,1996-97,7,-198.0
35,35,Castellon,11,285.0,334,103,79,152,419.0,588.0,...,0,0,1,2,0,3,1941,1990-91,4,-169.0
36,36,Albacete,7,277.0,270,76,76,118,320.0,410.0,...,0,0,0,0,0,0,1991,2004-05,7,-90.0
37,37,Almeria,6,242.0,228,62,56,110,244.0,366.0,...,0,0,0,0,0,0,2007,2014-15,8,-122.0
38,38,Cordoba,9,230.0,282,82,63,137,285.0,430.0,...,0,0,0,1,0,1,1962,2014-15,5,-145.0
39,39,Compostela,4,190.0,160,52,45,63,199.0,241.0,...,0,0,0,0,0,0,1994,1997-98,10,-42.0
40,40,Recreativo,5,188.0,186,50,46,90,202.0,296.0,...,0,0,0,0,0,0,1978,2008-09,8,-94.0
41,41,Burgos CF,6,168.0,204,59,50,95,216.0,310.0,...,0,0,0,0,0,0,1971,1979-80,12,-94.0
42,42,Pontevedra,6,150.0,180,53,44,83,165.0,221.0,...,0,0,0,0,0,0,1963,1969-70,7,-56.0
43,43,Numancia,4,148.0,152,37,37,78,155.0,253.0,...,0,0,0,0,0,0,1999,2008-09,17,-98.0
44,44,Eibar,3,132.0,114,35,27,52,139.0,167.0,...,0,0,0,0,0,0,2014,2014-15,10,-28.0
45,45,Arenas,7,107.0,130,43,21,66,227.0,308.0,...,0,1,0,3,0,4,1929,1934-35,3,-81.0
46,46,Real Burgos,3,96.0,114,26,44,44,101.0,139.0,...,0,0,0,0,0,0,1990,1992-93,9,-38.0
47,47,Gimnastic,4,91.0,116,34,16,66,181.0,295.0,...,0,0,0,0,0,0,1947,2006-07,7,-114.0
48,48,Extremadura,2,83.0,80,20,23,37,62.0,117.0,...,0,0,0,0,0,0,1996,1998-99,17,-55.0
49,49,Merida,2,81.0,80,19,24,37,70.0,115.0,...,0,0,0,0,0,0,1995,1997-98,19,-45.0
50,50,Alcoyano,4,76.0,108,30,16,62,145.0,252.0,...,0,0,0,0,0,0,1945,1950-51,10,-107.0
51,51,Jaen,3,71.0,90,29,13,48,121.0,183.0,...,0,0,0,0,0,0,1953,1957-58,14,-62.0
52,52,Real Union,4,56.0,72,21,14,37,153.0,184.0,...,0,0,0,0,1,1,1929,1931-32,6,-31.0
53,53,AD Almeria,2,52.0,68,17,18,33,71.0,116.0,...,0,0,0,0,0,0,1979,1980-81,10,-45.0
54,54,Europa,3,42.0,54,18,6,30,97.0,131.0,...,0,0,0,0,0,0,1929,1930-31,8,-34.0
55,55,Lleida,2,40.0,68,13,14,41,70.0,182.0,...,0,0,0,0,0,0,1950,1993-94,16,-112.0
56,56,Leganes,1,35.0,38,8,11,19,36.0,55.0,...,0,0,0,0,0,0,2016,2016-17,17,-19.0
57,57,Xerez,1,34.0,38,8,10,20,38.0,66.0,...,0,0,0,0,0,0,2009,2009-10,20,-28.0
58,58,Condal,1,22.0,30,7,8,15,37.0,57.0,...,0,0,0,0,0,0,1956,1956-57,16,-20.0
59,59,Atletico Tetuan,1,19.0,30,7,5,18,51.0,85.0,...,0,0,0,0,0,0,1951,1951-52,16,-34.0
60,60,Cultural Leonesa,1,14.0,30,5,4,21,34.0,65.0,...,0,0,0,0,0,0,1955,1955-56,15,-31.0
61,61,Girona,1,0.0,0,0,0,0,0.0,0.0,...,0,0,0,0,0,0,2017,2017-18,9,0.0

### Finding the team with maximum goal difference

In [19]:
md.head(1)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,GoalsDifferences
1,1,Real Madrid,86,4385.0,2762,1647,552,563,5947.0,3140.0,...,23,8,8,3,4,79,1929,1929,1,2807.0

### Finding the team with minimum goal difference

In [20]:
md.tail(1)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,GoalsDifferences
61,61,Girona,1,0.0,0,0,0,0,0.0,0.0,...,0,0,0,0,0,0,2017,2017-18,9,0.0

### 5. Create a new column with name â€œWinning Percentâ€ and append it to the data set

In [22]:
md['GamesWon'] = md.GamesWon.astype(float)
md['GamesPlayed'] = md.GamesPlayed.astype(float)
md['WinningPercent'] = (md.iloc[:,5]/md.iloc[:,4])*100
md

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,GoalsDifferences,WinningPercent
1,1,Real Madrid,86,4385.0,2762.0,1647.0,552,563,5947.0,3140.0,...,8,8,3,4,79,1929,1929,1,2807.0,59.630702
2,2,Barcelona,86,4262.0,2762.0,1581.0,573,608,5900.0,3114.0,...,12,12,4,6,83,1929,1929,1,2786.0,57.241130
3,3,Atletico Madrid,80,3442.0,2614.0,1241.0,598,775,4534.0,3309.0,...,16,9,7,6,56,1929,2002-03,1,1225.0,47.475134
4,4,Valencia,82,3386.0,2664.0,1187.0,616,861,4398.0,3469.0,...,10,11,10,7,50,1931,1987-88,1,929.0,44.557057
5,5,Athletic Bilbao,86,3368.0,2762.0,1209.0,633,920,4631.0,3700.0,...,10,5,8,10,49,1929,1929,1,931.0,43.772629
6,6,Sevilla,73,2819.0,2408.0,990.0,531,887,3680.0,3373.0,...,4,5,12,6,32,1934,2001-02,1,307.0,41.112957
7,7,Espanyol,82,2792.0,2626.0,948.0,608,1070,3609.0,3889.0,...,4,5,2,5,16,1929,1994-95,3,-280.0,36.100533
8,8,Real Sociedad,70,2573.0,2302.0,864.0,577,861,3228.0,3230.0,...,2,5,4,3,19,1929,2010-11,1,-2.0,37.532580
9,9,Zaragoza,58,2109.0,1986.0,698.0,522,766,2683.0,2847.0,...,4,5,4,4,18,1939,2012-13,2,-164.0,35.146022
10,10,Real Betis,51,1884.0,1728.0,606.0,440,682,2159.0,2492.0,...,2,3,4,4,14,1932,2015-16,1,-333.0,35.069444
11,11,Deportivo La Coruna,45,1814.0,1530.0,563.0,392,575,2052.0,2188.0,...,4,1,0,1,12,1941,2014-15,1,-136.0,36.797386
12,12,Celta Vigo,51,1789.0,1698.0,586.0,389,723,2278.0,2624.0,...,0,2,4,5,11,1939,2012-13,4,-346.0,34.511190
13,13,Valladolid,42,1471.0,1466.0,463.0,384,619,1767.0,2180.0,...,0,1,1,1,3,1948,2013-14,4,-413.0,31.582538
14,14,Racing Santander,44,1416.0,1428.0,453.0,336,639,1843.0,2368.0,...,1,2,0,1,5,1929,2011-12,2,-525.0,31.722689
15,15,Sporting Gijon,43,1389.0,1458.0,471.0,358,629,1753.0,2152.0,...,1,2,2,1,7,1944,2015-16,2,-399.0,32.304527
16,16,Osasuna,37,1351.0,1318.0,426.0,327,565,1500.0,1834.0,...,0,2,2,2,6,1935,2016-17,4,-334.0,32.321700
17,17,Malaga,36,1314.0,1255.0,390.0,330,535,1421.0,1763.0,...,0,1,0,1,2,1949,2008-09,4,-342.0,31.075697
18,18,Oviedo,38,1174.0,1192.0,408.0,292,492,1642.0,1951.0,...,3,2,2,4,11,1933,2000-01,3,-309.0,34.228188
19,19,Mallorca,27,1148.0,988.0,333.0,256,399,1182.0,1371.0,...,2,0,2,1,5,1960,2012-13,3,-189.0,33.704453
20,20,Las Palmas,33,1020.0,1096.0,367.0,242,487,1347.0,1746.0,...,1,1,1,1,5,1951,2015-16,2,-399.0,33.485401
21,21,Villarreal,17,970.0,646.0,266.0,172,208,892.0,789.0,...,1,2,3,2,9,1998,2013-14,2,103.0,41.176471
22,22,Granada,23,667.0,742.0,218.0,175,349,819.0,1157.0,...,0,0,0,2,2,1941,2016-17,6,-338.0,29.380054
23,23,Rayo Vallecano,17,662.0,652.0,189.0,148,305,760.0,1088.0,...,0,0,0,0,0,1977,2015-16,8,-328.0,28.987730
24,24,Elche,21,606.0,678.0,203.0,180,295,750.0,1022.0,...,0,0,1,1,2,1959,2014-15,5,-272.0,29.941003
25,25,Getafe,12,553.0,456.0,147.0,112,197,520.0,633.0,...,0,0,0,1,1,2004,2015-16,6,-113.0,32.236842
26,26,Hercules,20,538.0,628.0,184.0,149,295,716.0,1050.0,...,0,0,1,4,5,1935,2010-11,5,-334.0,29.299363
27,27,Tenerife,13,510.0,494.0,155.0,128,211,619.0,744.0,...,0,0,2,0,2,1961,2009-10,5,-125.0,31.376518
28,28,Murcia,18,445.0,586.0,145.0,143,298,607.0,992.0,...,0,0,0,0,0,1940,2007-08,11,-385.0,24.744027
29,29,Alaves,12,421.0,380.0,125.0,81,174,458.0,623.0,...,0,0,0,1,1,1930,2016-17,6,-165.0,32.894737
30,30,Levante,11,416.0,402.0,113.0,95,194,430.0,632.0,...,0,0,0,1,1,1963,2015-16,6,-202.0,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353.0,426.0,129.0,95,202,492.0,720.0,...,0,1,1,0,2,1943,1987-88,4,-228.0,30.281690
33,33,Cadiz,12,343.0,448.0,104.0,127,217,393.0,662.0,...,0,0,0,0,0,1977,2005-06,12,-269.0,23.214286
34,34,Logrones,9,293.0,346.0,96.0,92,158,291.0,489.0,...,0,0,0,0,0,1987,1996-97,7,-198.0,27.745665
35,35,Castellon,11,285.0,334.0,103.0,79,152,419.0,588.0,...,0,1,2,0,3,1941,1990-91,4,-169.0,30.838323
36,36,Albacete,7,277.0,270.0,76.0,76,118,320.0,410.0,...,0,0,0,0,0,1991,2004-05,7,-90.0,28.148148
37,37,Almeria,6,242.0,228.0,62.0,56,110,244.0,366.0,...,0,0,0,0,0,2007,2014-15,8,-122.0,27.192982
38,38,Cordoba,9,230.0,282.0,82.0,63,137,285.0,430.0,...,0,0,1,0,1,1962,2014-15,5,-145.0,29.078014
39,39,Compostela,4,190.0,160.0,52.0,45,63,199.0,241.0,...,0,0,0,0,0,1994,1997-98,10,-42.0,32.500000
40,40,Recreativo,5,188.0,186.0,50.0,46,90,202.0,296.0,...,0,0,0,0,0,1978,2008-09,8,-94.0,26.881720
41,41,Burgos CF,6,168.0,204.0,59.0,50,95,216.0,310.0,...,0,0,0,0,0,1971,1979-80,12,-94.0,28.921569
42,42,Pontevedra,6,150.0,180.0,53.0,44,83,165.0,221.0,...,0,0,0,0,0,1963,1969-70,7,-56.0,29.444444
43,43,Numancia,4,148.0,152.0,37.0,37,78,155.0,253.0,...,0,0,0,0,0,1999,2008-09,17,-98.0,24.342105
44,44,Eibar,3,132.0,114.0,35.0,27,52,139.0,167.0,...,0,0,0,0,0,2014,2014-15,10,-28.0,30.701754
45,45,Arenas,7,107.0,130.0,43.0,21,66,227.0,308.0,...,1,0,3,0,4,1929,1934-35,3,-81.0,33.076923
46,46,Real Burgos,3,96.0,114.0,26.0,44,44,101.0,139.0,...,0,0,0,0,0,1990,1992-93,9,-38.0,22.807018
47,47,Gimnastic,4,91.0,116.0,34.0,16,66,181.0,295.0,...,0,0,0,0,0,1947,2006-07,7,-114.0,29.310345
48,48,Extremadura,2,83.0,80.0,20.0,23,37,62.0,117.0,...,0,0,0,0,0,1996,1998-99,17,-55.0,25.000000
49,49,Merida,2,81.0,80.0,19.0,24,37,70.0,115.0,...,0,0,0,0,0,1995,1997-98,19,-45.0,23.750000
50,50,Alcoyano,4,76.0,108.0,30.0,16,62,145.0,252.0,...,0,0,0,0,0,1945,1950-51,10,-107.0,27.777778
51,51,Jaen,3,71.0,90.0,29.0,13,48,121.0,183.0,...,0,0,0,0,0,1953,1957-58,14,-62.0,32.222222
52,52,Real Union,4,56.0,72.0,21.0,14,37,153.0,184.0,...,0,0,0,1,1,1929,1931-32,6,-31.0,29.166667
53,53,AD Almeria,2,52.0,68.0,17.0,18,33,71.0,116.0,...,0,0,0,0,0,1979,1980-81,10,-45.0,25.000000
54,54,Europa,3,42.0,54.0,18.0,6,30,97.0,131.0,...,0,0,0,0,0,1929,1930-31,8,-34.0,33.333333
55,55,Lleida,2,40.0,68.0,13.0,14,41,70.0,182.0,...,0,0,0,0,0,1950,1993-94,16,-112.0,19.117647
56,56,Leganes,1,35.0,38.0,8.0,11,19,36.0,55.0,...,0,0,0,0,0,2016,2016-17,17,-19.0,21.052632
57,57,Xerez,1,34.0,38.0,8.0,10,20,38.0,66.0,...,0,0,0,0,0,2009,2009-10,20,-28.0,21.052632
58,58,Condal,1,22.0,30.0,7.0,8,15,37.0,57.0,...,0,0,0,0,0,1956,1956-57,16,-20.0,23.333333
59,59,Atletico Tetuan,1,19.0,30.0,7.0,5,18,51.0,85.0,...,0,0,0,0,0,1951,1951-52,16,-34.0,23.333333
60,60,Cultural Leonesa,1,14.0,30.0,5.0,4,21,34.0,65.0,...,0,0,0,0,0,1955,1955-56,15,-31.0,16.666667
61,61,Girona,1,0.0,0.0,0.0,0,0,0.0,0.0,...,0,0,0,0,0,2017,2017-18,9,0.0,NaN

### Print the top 5 teams which has the highest Winning percentage

In [24]:

temp=md.sort_values(by=['WinningPercent'],ascending=False)

In [25]:
temp.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,GoalsDifferences,WinningPercent
1,1,Real Madrid,86,4385.0,2762.0,1647.0,552,563,5947.0,3140.0,...,8,8,3,4,79,1929,1929,1,2807.0,59.630702
2,2,Barcelona,86,4262.0,2762.0,1581.0,573,608,5900.0,3114.0,...,12,12,4,6,83,1929,1929,1,2786.0,57.241130
3,3,Atletico Madrid,80,3442.0,2614.0,1241.0,598,775,4534.0,3309.0,...,16,9,7,6,56,1929,2002-03,1,1225.0,47.475134
4,4,Valencia,82,3386.0,2664.0,1187.0,616,861,4398.0,3469.0,...,10,11,10,7,50,1931,1987-88,1,929.0,44.557057
5,5,Athletic Bilbao,86,3368.0,2762.0,1209.0,633,920,4631.0,3700.0,...,10,5,8,10,49,1929,1929,1,931.0,43.772629

 ### 6. Group teams based on their â€œBest positionâ€ and print the sum of their points for all positions

In [27]:
md.groupby(md.iloc[:,19]).sum()

,Points,GamesPlayed,GamesWon,GoalsFor,GoalsAgainst,Debut,GoalsDifferences,WinningPercent
BestPosition,,,,,,,,
1,27933.0,21532.0,9888.0,36529.0,28015.0,17383,8514.0,403.189019
10,450.0,450.0,134.0,554.0,776.0,7932,-222.0,115.979532
11,445.0,586.0,145.0,607.0,992.0,1940,-385.0,24.744027
12,511.0,652.0,163.0,609.0,972.0,3948,-363.0,52.135854
14,71.0,90.0,29.0,121.0,183.0,1953,-62.0,32.222222
15,14.0,30.0,5.0,34.0,65.0,1955,-31.0,16.666667
16,81.0,128.0,27.0,158.0,324.0,5857,-166.0,65.784314
17,266.0,270.0,65.0,253.0,425.0,6011,-172.0,70.394737
19,81.0,80.0,19.0,70.0,115.0,1995,-45.0,23.750000
2,6904.0,6614.0,2255.0,8518.0,9902.0,9761,-1384.0,173.835110
20,34.0,38.0,8.0,38.0,66.0,2009,-28.0,21.052632
3,5221.0,4936.0,1732.0,6660.0,7519.0,7751,-859.0,137.110098
4,6563.0,6497.0,2097.0,7877.0,9709.0,11655,-1832.0,190.611137
5,1884.0,2082.0,624.0,2370.0,3246.0,7817,-876.0,119.694898
6,2113.0,2052.0,624.0,2380.0,3229.0,9767,-849.0,151.787752
7,1186.0,1335.0,382.0,1379.0,1996.0,9862,-617.0,143.726616
8,1134.0,1120.0,319.0,1303.0,1881.0,7891,-578.0,116.395766
9,96.0,114.0,26.0,101.0,139.0,4007,-38.0,22.807018

In [33]:
md[['BestPosition','Points']]

0  BestPosition  Points
1             1  4385.0
2             1  4262.0
3             1  3442.0
4             1  3386.0
5             1  3368.0
6             1  2819.0
7             3  2792.0
8             1  2573.0
9             2  2109.0
10            1  1884.0
11            1  1814.0
12            4  1789.0
13            4  1471.0
14            2  1416.0
15            2  1389.0
16            4  1351.0
17            4  1314.0
18            3  1174.0
19            3  1148.0
20            2  1020.0
21            2   970.0
22            6   667.0
23            8   662.0
24            5   606.0
25            6   553.0
26            5   538.0
27            5   510.0
28           11   445.0
29            6   421.0
30            6   416.0
..          ...     ...
32            4   353.0
33           12   343.0
34            7   293.0
35            4   285.0
36            7   277.0
37            8   242.0
38            5   230.0
39           10   190.0
40            8   188.0
41           12   168.0
42            7   150.0
43           17   148.0
44           10   132.0
45            3   107.0
46            9    96.0
47            7    91.0
48           17    83.0
49           19    81.0
50           10    76.0
51           14    71.0
52            6    56.0
53           10    52.0
54            8    42.0
55           16    40.0
56           17    35.0
57           20    34.0
58           16    22.0
59           16    19.0
60           15    14.0
61            9     0.0

[61 rows x 2 columns]